{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <title>Juniordev</title>

    <link rel="stylesheet" href="{% static 'packageview.css' %}">

</head>
<body>
    <a class="goBack" href="{% url 'home' %}">All packages</a>
    <h1>{{ package.name|title }}</h1>
    <pre class="description">{{ package.description }}</pre>

    {# So it dosen't show the dependencies if there are none #}
    {% if dependencies or alternatives %}
        <h1>Dependencies</h1>
        <ul>
        {# Goes true all of the dependencies that have no alternative #}
        {% for package in dependencies %}
            {# If the package is installed it will be a link that takes you to that package #}
            {% if i.installd %}
                <li>
                    <a href="{{ package.name }}">{{ package.name }}</a> 
                </li>
            {# Else it will just display the name #}
            {% else %}
                <li>
                    {{ package.name }} (not installed)
                </li>
            {% endif %}
        {% endfor %}

        {# Loops true all of the alternatives that is a 2D array #}
        {% for alternative in alternatives %}
            <li>
                {# Loops true all the packages that can be alternatives to each other #}
                {% for package in alternative %}

                    {# If it's not the last alternative it will have the or at the end #}
                    {% if alternative|length > forloop.counter %}
                        {% if package.installd %}
                            <a href="{{ package.name }}">{{ package.name }}</a> or 
                        {% else %}
                            {{ package.name }} (not installed) or
                        {% endif %}
                    {# If it's the last item it won't have the or at the end #}
                    {% else %}
                        {% if package.installd %}
                            <a href="{{ package.name }}">{{ package.name }}</a>
                        {% else %}
                            {{ package.name }} (not installed)
                        {% endif %}

                    {% endif %}

                {% endfor %}
                {# Ends the package loop #}
            </li>
        {% endfor %}
        {# Ends the alternativ loop #}
        </ul>
    {% endif %}
    {# Ends the dependencies if #}

    {# If there are package that depend on this package they will be looped true here #}
    {% if dependentOn %}
        <h1>Dependent on</h1>
        <ul>
        {% for package in dependentOn %}
            <li>
                <a href="{{ package.name }}">{{ package.name }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {# Ends the dependenOn if #}
</body>

